In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot

In [2]:
df = pd.read_csv("Advertising.csv")

In [3]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
df.rename(columns={'newspaper':'news paper'}, inplace=True)

In [5]:
df.head()

      TV  radio  news paper  sales
0  230.1   37.8        69.2   22.1
1   44.5   39.3        45.1   10.4
2   17.2   45.9        69.3    9.3
3  151.5   41.3        58.5   18.5
4  180.8   10.8        58.4   12.9

In [6]:
df.sales.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: sales, dtype: float64

In [8]:
df.['news paper']

SyntaxError: invalid syntax (2818221490.py, line 1)

In [3]:
X = df.drop("sales", axis=1)

In [5]:
y = df["sales"]

In [6]:
from sklearn.preprocessing import PolynomialFeatures

In [7]:
poly_converter = PolynomialFeatures(degree=2, include_bias=False)

In [8]:
poly_features = poly_converter.fit_transform(X)

In [9]:
poly_features.shape

(200, 9)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [10]:
from sklearn.linear_model import LinearRegression

In [13]:
poly_model = LinearRegression()

In [14]:
#Fitting on the training data
poly_model.fit(X_train, y_train)

LinearRegression()

In [16]:
poly_model_predictions = poly_model.predict(X_test)

In [17]:
poly_model_predictions.shape

(60,)

In [19]:
poly_model.coef_

array([ 0.04469599,  0.1875657 , -0.00032275])

##### Performance measures of the polynomial regression model

In [18]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
PLM_MAE = poly_model.